table {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  border-collapse: separate;
  border-spacing: 10px;
  font-size: 0.9em;
  min-width: 400px;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

table thead tr th{
  background-color: #8d2ab5;
  border: 2px solid #4a0c6351;
  border-radius: 5px;
  color: #ffffff;
  font-size: 25px;
  width: 16%;
}